body {
    line-height: 1;
}

html,
body {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h4,
h5 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 50px;
}

/* Your code starts here! */

.navigation {
    color: gray;
    word-spacing: 25px;
    font-size: 25px;
    padding: 20px;
    font-family: "Acme";
}

.top-pic {
    padding: 25px 0;
}
.container {
    display: flex;
    width: 100%;
    margin: 40px auto 0 auto;
    padding: 30px 0;
    text-align: left;
}

.container2 {
    padding: 20px;
}
.item {
    padding: 20px;
    flex: 1;
}

.item2 {
    padding: 20px;
    flex: 1;
}

.alignleft {
    text-align: left;
}

.button {
    background-color: white;
    border: solid black;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}
.content {
    width: 880px;
    margin: auto;
}

footer {
    text-align: center;
    margin: 20px;
}

h3 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 20px;
}

.bottomspacing {
    padding-bottom: 15px;
}

.divider {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 15px 0;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    width: 50%;
}
