/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
/* ol,
ul,
li, */
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
/* ol,
ul {
    list-style: none; */
/* } */
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h4,
h5 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 50px;
}

/* Your code starts here! */

.navigation {
    color: gray;
    word-spacing: 25px;
    font-size: 25px;
    padding: 20px;
    font-family: "Acme";
}

.top-pic {
    padding: 25px 0;
}
.container {
    display: flex;
    width: 100%;
    margin: 40px auto 0 auto;
    padding: 30px 0;
    text-align: left;
}

.container2 {
    padding: 20px;
}
.item {
    padding: 20px;
    flex: 1;
}

.item2 {
    padding: 0 20px;
}

.alignleft {
    text-align: left;
}

.button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    margin: 20px auto;
    cursor: pointer;
}
.content {
    width: 880px;
    margin: auto;
}

footer {
    text-align: center;
    margin: 20px;
}

h3 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 20px;
}

.bottomspacing {
    padding-bottom: 15px;
}

.divider {
    border-bottom: 1px solid black;
    width: 100%;

    margin: 30px 0 50px 0;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.column {
    width: 43%;
    padding: 20px 20px;
    margin: 20px;
    border: 1px solid black;
    background: rgb(238, 236, 236);
}
.column2 {
    width: 50%;
}
